@font-face {
  font-family: 'OpenDyslexic3';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/OpenDyslexic3-Regular.woff2') format('woff2');
}

[data-font='default'] {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

[data-font='accessible'] {
  font-family: 'OpenDyslexic3', 'Comic Sans MS', 'Comic Sans', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

::selection {
  color: black;
  background: hsl(var(--p));
}

* {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
